.feedInput {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius:8px;
    border: 1px solid lightgray;
    padding: 10px;
    .feedInput__post {
        display: flex;
        flex-direction: row;
        padding: 10px;
        width: 100%;
        .feedInput__avatar {
            object-fit: contain;
            width: 50px;
            height: 50px;
        }
        .feedInput__btn {
            padding: 12px;
            padding-left:20px;
            font-size: 14px;
            color: grey;
            font-weight: 500;
            margin-left: 15px;
            border-radius:24px;
            border: 1px solid lightgray;
            width: 380px;
            cursor: pointer;
            &:hover {
                background-color: rgba(211, 211, 211, 0.575);
              }
        }
    }
    .feedInput__actions {
        display:flex;
        flex-direction:row;
        justify-content:space-around;
        align-items:center;
        .feedInput__action {
            display:flex;
            flex-direction: row;
            align-items:center;
            font-size:14px;
            padding: 10px;
            cursor: pointer;
            border-radius: 8px;
            svg {
                padding-right: 10px;
            }
            &:hover {
                background-color: rgba(211, 211, 211, 0.575);
              }
        }
    }
}